.mdc-top-app-bar {
  background-color: inherit;
  color:inherit;
}
.mdc-icon-button {
  color:inherit;
  fill:currentColor;
}

.mdc-icon-button {
  color: inherit !important;
}

.hidden {
  display:none !important;
}

.mdc-top-app-bar--short-collapsed {
  border-radius: 0 0 24px 0;
}
//

