<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flayvor Material Web Component</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2/webcomponents-loader.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2/custom-elements-es5-adapter.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="./js/dist/index.js"></script>


    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
      flayvor-top-app-bar {
        background-color: black;
        color:white
      }
    </style>
  </head>

  <body>
    <main id="main">
      <div id="box" class="box" style="margin-top:100px;">
        <flayvor-top-app-bar type="dense" title="Flayvor Top App Bar" menuicon="menu">
          <button slot="right">menu</button>
        </flayvor-top-app-bar>
      </div>
      <div style="margin-top:1000px"></div>

    </main>

    <script>
      const node = document.querySelector('flayvor-top-app-bar');
      node.addEventListener('MDCTopAppBar:nav', (event) => {
        console.log(event)
      });
    </script>

  </body>
</html>
