/* your custom css */
header a:hover {
    color:white
}
.mainContainer {
    padding:0;
}
.container.paddingTop {
    padding:40px;
    padding-top:0;
}
.mainContainer  .container:first-child .gridBlock .blockElement {
    border-radius:4px;
    background:#fafafa;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    margin:1em;
    padding-bottom:2em;
}
.imageAlignTop .blockImage {
    max-width:160px;
    height:160px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.imageAlignTop.alignCenter .blockImage {
    margin-bottom:0;
}
p {
    color:#252525;
}
.projectTitle {
    color:#252525;
}
.gridBlock h2{
    margin:0;
}
.gridBlock {
    padding-bottom:3em;
}
.blockContent h2 div span p {
    text-align: center;
    font-size:24px;
}
.blockContent div span {
    text-align: left;
    font-size:16px;
}
.blockContent div {
    padding:0 16px;
}

.gradient-bg {
    height: 70px;
    background: radial-gradient(circle, rgba(15,54,108,1) 0%, rgba(38,98,140,0.8337710084033614) 0%, rgba(15,54,108,1) 100%);
}
.homeContainer .homeWrapper {
    padding:6em 10px;
    padding-bottom:3em;
}
.docMainWrapper .mainContainer h1 {
    margin-top:40px !important;
}

#main {
    max-width: 100% !important;
    margin:0 !important;
}
pre code {
    font-size: 100%;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.hljs {
    padding: 1.25rem 1.5rem;
}
tr th, tr td {
    border:0;
}
footer {
    display:block !important;
}

.arrow-prev {
    margin-right:8px !important;
}
.arrow-next {
    margin-left:8px !important;
}
.box {
    border:1px solid #efefef;
    padding:1em;
}
.box .gr-grid-container {
    margin:0 !important;
}

.box div[class*=gr-col], .box div[class*=gr-row] {
    border:1px dashed;
    display:flex;

}

.icon-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.icon-list li {
    width: 104px;
    height: 104px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
.custom {
    width: 165px !important;
    display:inline;
    font-size:12px;
    padding: 0 20px;
    color:white;
    height: 20px !important;
    background-color: #DA0474!important;
    border-radius: 5px !important;
    margin-bottom: 8px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold;
}
.fixedHeaderContainer {
    z-index: 100 !important;
}

table thead tr {
    border-top:0;
}
table tr th {
    min-width:100px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    small {
        line-height: 1.5 !important;
    }
    .container {
        padding:0 !important;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
    .blockContent div {
        padding:0 100px;
    }
}
